body {
    background-image: url("image/jameswebb.jpg") ;
    background-size: cover;
}

h2 {
    color: blue;
}

h2 p {
    color: blanchedalmond;
    text-align: center;
    border: 5px solid white;
    cursor: pointer;
}

p {
    color: white;
}

li {
    list-style: none;
    display: inline-block;
    color: aliceblue;
    list-style: none;
}

ul:last-child {
    color: red;
}

.webtext {
    border: dashed white;
}



